* {
  margin: 0;
  font-family: oswald;
}

.page {
  display: flex;
}

.main {
  background-color: rgba(122, 236, 156, 0.336);
  width: 150dvh;
  height: 80px;
  margin: 70px 100px;
  border-radius: 30px;
}

.searchbar {
  width: 85%;
  height: 30px;
  margin: 20px;
  border-radius: 30px;
  border: navy;
  font-size: 20px;
}

.search button {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: none;
  margin-left: 30px;
  background-color: greenyellow;
  font-size: 20px;
}

.search button:hover {
  border: 2px solid;
  scale: 1.1;
}

.list {
  margin-top: 100px;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 500px;
}

.title h1 {
  font-size: 30px;
}

.title button {
  width: 100px;
  height: 50px;
  background-color: greenyellow;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}

.title .addnew {
  transform: translateX(450px);
}

.title .addnew:hover {
  border: 1px solid;
  scale: 1;
}

.title button:hover {
  border: 1px solid;
  scale: 1.05;
}

.itemTable {
  padding: 0;
  margin: 0;
}

@media (max-width: 1200px) {
  .main {
    margin: 20px auto;
  }

  .searchbar {
    width: 90%;
    margin: 10px auto;
  }

  .title {
    flex-direction: column;
    gap: 20px;
  }

  .title h1 {
    font-size: 24px;
  }

  .title button {
    width: 100px;
    height: 40px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .main {
    width: 90%;
    margin: 10px auto;
  }

  .searchbar {
    width: 100%;
    margin: 10px auto;
  }

  .title h1 {
    font-size: 20px;
  }

  .title button {
    width: 80px;
    height: 35px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .title h1 {
    font-size: 18px;
  }

  .title button {
    width: 70px;
    height: 30px;
    font-size: 14px;
  }
}
