* {
  margin: 0;
}

.page {
  display: flex;
  min-height: 100vh;
  background-color: #ffffff; /* Subtle background color for the entire page */
}

.section2 {
  flex: 1;
  padding: 20px;
  background-color: #ffffff; /* Clean white background */
  border-radius: 10px;
  margin: 20px;
}

.subsection {
  background-color: rgba(122, 236, 156, 0.15);
  box-shadow: #f8f9fa;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  color: #333;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.table th {
  background-color: #f8f9fa;
  color: #333;
}

.searchContainer {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 15px; /* Increased gap for better spacing */
}

.searchBox {
  display: flex;
  align-items: center;
  margin: 5px;
  flex: 1;
}

.searchBox label {
  margin-right: 10px;
  font-weight: 500;
  color: #333;
}

.searchBox input {
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-right: 10px;
  flex: 1;
}

.searchButton {
  padding: 8px 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.searchButton:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Slightly enlarge button on hover */
}

/* Media Queries */
@media (max-width: 1200px) {
  .section1 {
    flex: 0 0 200px;
  }

  .section2 {
    margin: 20px 10px;
  }

  .searchContainer {
    flex-direction: column;
  }

  .searchBox {
    margin: 5px 0;
    width: 100%;
  }

  .searchButton {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .page {
    flex-direction: column;
  }

  .section1 {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .section2 {
    margin: 10px;
    padding: 10px;
  }

  .table th,
  .table td {
    padding: 10px;
  }

  .searchBox {
    flex-direction: column;
  }

  .searchBox label {
    margin-bottom: 5px;
  }

  .searchBox input {
    margin-bottom: 10px;
  }

  .searchButton {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .searchBox input {
    padding: 6px;
    font-size: 14px;
  }

  .searchButton {
    padding: 6px 12px;
    font-size: 14px;
  }

  .table {
    font-size: 14px;
  }

  .searchContainer {
    padding: 5px;
  }
}
