.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  width: 800px;
  height: 600px;
  overflow-y: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.formGroup {
  margin-bottom: 20px;
}

.employeeInput {
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease;
}

.employeeInput:focus {
  border-color: #007bff;
  outline: none;
}

.dateGroup {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.dateInputField {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease;
}

.dateInputField:focus {
  border-color: #007bff;
  outline: none;
}

.formActions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.formActions button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.formActions button:hover {
  background-color: #007bff;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tableContainer {
  margin-top: 30px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  border: 1px solid #e0e0e0;
  text-align: left;
}

th {
  background-color: #2edf57cb;

  color: #000000;
  font-weight: bold;
}

td {
  background-color: #f9f9f9;
}

tr:nth-child(even) td {
  background-color: #f2f2f2;
}

tr:hover td {
  background-color: #e9ecef;
}
