* {
  margin: 0;
}

.sidebar {
  background-color: rgba(68, 220, 231, 0.116);
  height: 980px;
  height: fit-content;
  width: 400px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
  text-align: center;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(122, 38, 155, 0.5);
  background: linear-gradient(
    135deg,
    rgba(122, 38, 155, 0.1),
    rgba(68, 220, 231, 0.2)
  );
  animation: gradientAnimation 4s ease infinite;
}

.logo h1 {
  font-size: 2.2rem; /* Slightly larger font */
  color: #7a269b;
  background: -webkit-linear-gradient(45deg, #432566, #7a269b, #32a852);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnimation 6s ease-in-out infinite;
}

.logo h1 a {
  text-decoration: none;
  color: rgb(122, 38, 155);
}

.logo h1 a:hover {
  color: #432566;
  text-decoration: underline;
}

.dashboard {
  text-align: center;
  line-height: 120px;
  font-family: Oswald;
}

.menu-list {
  font-size: 22px;
}

.menu-list a {
  text-decoration: none;
}

.menu-list li {
  list-style: none;
  text-align: left;
}

.dashboard p {
  text-align: left;
  font-size: 22px;
  margin-left: 30px;
  margin-top: 60px;
  line-height: 20px;
}

hr {
  color: grey;
}
